.sidebar-row-container {
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex: 1;
  column-gap: 10px;
}

.sidebar-row-container:hover {
  background-color: var(--custom);
}

.sidebar-row-text {
  font-weight: 600;
  font-size: var(--menu);
  color: var(--textSecondary);
}
.sidebar-row-container:hover > .sidebar-row-text {
  text-decoration: underline;
  color: var(--secondary);
}
.sidebar-row-list {
  padding-top: 20px;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.sidebar-row-icon {
  padding-top: 2px;
}
.sidebar-row-container:hover > .sidebar-row-icon {
  color: var(--secondary);
}
