.sidebar-main-container {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  border: 2px solid var(--custom);
  background-color: var(--main);
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.sidebar-logo-container {
  display: flex;
  width: 80%;
  height: 70px;
}

.sidebar-logo-image-full {
  width: 100%;
}
